<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>茫星人的家</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'big/css/yaya.css' %}">
    {% block css %}{% endblock %}
  </head>
  <body>
    {% include 'main/menu.html' %}
    <h1 align="center" ><font color="#cc0055"><font size="50px"><font face="微軟正黑體">茫星人的家 -- {% block heading %}{% endblock %}</font></font></font></h1>
    {% include 'main/messages.html' %}
    {% block content %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>